[defaults]
# inventory=./ansible_hosts
inventory=inventory/01_aws_ec2.yml
remote_user=jay
# private_key_file=~/aws/aws_keys/jabir-practice.pem
private_key_file=/Users/muhammadjabir/.ssh/ansible
host_key_checking=False
retry_files_enable=False
interpreter_python=auto_silent